.container {
    height: 100vh;
    width: 100%;
}
  
.main {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.grid{
    display: flex;
    padding: 0px;    
}

.blocoCadastro{
    border-radius: 8px;
    width: 35%;
    height: 85vh;
    background-color: #FFFFFF;
    display: flex;
    justify-items: center;
    align-self: center;
    justify-content: center;
}

.titleCadUser{
    color: #0B050E;
    font-weight: 800;
    text-align: center;
    font-size: 24px;
    font-family: 'Play', sans-serif;
}

.subtitleCadUser{
    color: #48434A;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.criarUsuario{
    width: 70%;

}

.organizarBlocoCad{

}
