.container {
    width: calc(100% - 30px);
    height: 150px;
    border: 20px;
    position: relative;

    display: flex;
    align-items: center;
}

.podcast__cover {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 100px;
    height: 100px;
} 

.podcast__cover img {
    object-fit: cover;
    border-radius: 6px;
}

.podcast__content {
    height: 120px;
    width: 100%;
    padding-left: 10px;

    background: #ffffff;
    border-radius: 10px;
    
    display: grid;
    grid-template-columns: 118px 1fr;
    align-items: center;
}

.podcast__content div:first-child {
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    font-size: 10px;
    color: #473080;
    font-weight: 600;

}

.podcast__description {
    width: 270px;
}

.podcast__title {
    color: #322F30;
    font-size: 16px;
    margin-top: -2px;
    line-height: 16px;
    max-height: 48px; 

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.podcast__author {
    color: #322F30;
    font-size: 10px;
    margin-top: -15px;

}

.podcast__description {
    margin-top: -5px;
    text-align: justify;

    color: #322F30;
    font-size: 12px;
    line-height: 16px;
    max-height: 48px; 

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.playerGrid {
    display: flex;
    align-items: flex-end;
}

.playerIcon {
    color: aliceblue;
    background-color: #322F30;
  
    width: 25px;
    height: 25px;
    border-radius: 5px;
    
    font-size: 22px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    cursor: pointer;
    margin-bottom: -8px;
}