.podcastcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #F7F7F8;

  border-radius: 10px;
  height: 140px;
  
  padding: 0 15px 0px 15px;
  margin-top: 5px;
  margin-right: 5px;
}

.podcastText {
  padding: 0 30px 0 25px;
}

.podcasTtitle {
  font-size: 20px;
}

.podcastAuthor {
  margin-top: -20px;
  font-weight: 500;
  font-size: 14px;
}

.podcastDescription {
  margin-top: -10px;
  text-align: justify;
  font-size: 14px;

  width: 770px;
  line-height: 16px;
  max-height: 48px; 

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.episodes {
  margin-top: -5px;

  font-weight: 600;
  font-size: 12px;
  color: #473080;
}

.podcastPlay {
  color: aliceblue;
  background-color: #322F30;
  box-shadow: -.5px .5px 4px #322F30;

  width: 85px;
  height: 45px;
  border-radius: 5px;
  
  font-size: 38px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
