.container {
    height: 100%;
    width: 100%;
}
  
.main {
    min-height: 100vh;
    width: 100%;
    padding: 1rem 3rem;
    margin-left: 15px;
    flex: 1;
}
  
.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-left: 20px;
}

.carousel  {
    height:100%;
    width: 100%;
    padding: 30px;
}

.grid{
    display: flex;
    padding: 15px;
}