.container {
  padding: 20px;
  margin-top: 50px;
  
  height: 92%;
  width: 100%;
  border-radius: 10px;
  
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
}

.wrapper {
  height: calc(100vh - 120px);
}

.playerHeader {
  display: grid;
  grid-template-columns: 0 3fr;
  align-items: center;
  margin-top: -10px;
}

.playerHeader h2 {
  font-size: 22px;
  justify-self: center;
}

.heartIcon {
  color: #473080;
  font-size: 22px;

}

.textContainer {
  margin-top: -30px;
}

.episodePodcast {
  font-weight: 500;
  font-size: 16px;
}

.episodeTitle {
  margin-top: -20px;
  font-size: 22px;
}

.episodeCover {
  margin-top: -15px;
  align-self: center;
}

.episodeCover img {
  
  width: 300px;
  height: 230px;

  border-radius: 15px;
}

.episodeDescription {
  width: 320px;

  font-size: 12px;
  text-align: justify;
}

.controlEpisode {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 2fr 1fr 2fr;
}

.episodeSkipBack {
  font-size: 38px;
  cursor: pointer;

}

.episodeSkipForward {
  font-size: 38px;
  cursor: pointer;

}

.episodePlay {
  color: aliceblue;
  background-color: #322F30;
  box-shadow: -.5px .5px 4px #322F30;

  width: 45px;
  height: 45px;
  border-radius: 5px;
  
  font-size: 38px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.episodes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.episodes h3{
  font-size: 16px;
}

.episodes p{
  font-size: 10px;
  justify-self: end;
}

.episodeList{
  height: 12%;
  overflow-y: scroll;
  margin-top: -10px;
}

.episodeList::-webkit-scrollbar {
  width: 7px;               /* width of the entire scrollbar */
  background-color: #473080 ;
}

.episodeList::-webkit-scrollbar-thumb {
  background-color: #322f30;    /* color of the scroll thumb */
  border-radius: 3px;       /* roundness of the scroll thumb */
}

