.container {
    padding: 20px;
    margin-top: 50px;
    height: calc(100% - 50px);
    width: 22rem;

    border-radius: 10px;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
}

.wrapper {
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
}

.playerHeader {
    display: grid;
    grid-template-columns: 0 3fr;
    align-items: center;
    margin-top: -10px;
}

.playerHeader h2 {
    font-size: 22px;
    justify-self: center;
}

.heartIcon {
    color: #473080;
    font-size: 22px;
}

.emptyPlayer {
    margin-top: 6vh;

    width: 100%;
    height: 15rem;
    border: 1.5px dashed #322F30;
    border-radius: 1.5rem;
    background-color: #F7F7F8;

    padding: 4rem;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper footer {
    align-self: stretch;
}

.wrapper footer .empty{
    opacity: .5;
}

.emptyPlayer strong {
    font-weight: 500;
}

.progress {
    display: grid;
    align-items: center;
    gap: .5rem;
    font-size: .875rem;
}

.progress span {
    display: flex;
    width: 4rem;
    text-align: center;

}

.slider {
    flex: 1;
}

.emptySlider {
    margin-top: 10vh;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #322F30;
}

.timer {
    display: flex;
    justify-content: space-between;
}

.controlEpisode {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    gap: 1.5rem;
}

.controlEpisode button {
    cursor: pointer;
    border: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pass {
    font-size: 30px;
    background: transparent;
}

 .playButton {
    border: 0;
    color: aliceblue;
    background-color: #322F30;
    box-shadow: -.5px .5px 4px #322F30;
    font-size: 40px;

    width: 45px;
    height: 45px;
    border-radius: 5px;
}

.line {
    margin-top: 2vh;
    width: 100%;
    height: .1px;
    border-radius: 1px;
    background-color: #C4C4C4;
}

.episodes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.episodes h3 {
    font-size: 16px;
}

.emptyEpisodes {
    text-align: center;
}

.emptyEpisodes strong {
    font-weight: 500;
}


/*
.textContainer {
    margin-top: -30px;
}

.episodePodcast {
    font-weight: 500;
    font-size: 16px;
}

.episodeTitle {
    margin-top: -20px;
    font-size: 22px;
}

.episodeCover {
    margin-top: -15px;
    align-self: center;
}

.episodeCover img {
    width: 300px;
    height: 230px;
    border-radius: 15px;
}

.episodeDescription {
    width: 320px;
    font-size: 12px;
    text-align: justify;
}

.controlEpisode {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 2fr 1fr 2fr;
}

.episodeSkipBack {
    font-size: 38px;
    cursor: pointer;
}

.episodeSkipForward {
    font-size: 38px;
    cursor: pointer;
}

.episodePlay {
    color: aliceblue;
    background-color: #322F30;
    box-shadow: -.5px .5px 4px #322F30;
    font-size: 38px;

    width: 45px;
    height: 45px;
    border-radius: 5px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.episodes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.episodes h3 {
    font-size: 16px;
}

.episodes p {
    font-size: 10px;
    justify-self: end;
}

.episodeList {
    height: 12%;
    overflow-y: auto;
    margin-top: -10px;
    width: 100%;
    height: 100%;
}

.episodeList::-webkit-scrollbar {
    width: 7px;
    /* width of the entire scrollbar */
   /*background-color: #473080;
}*/
/*
.episodeList::-webkit-scrollbar-thumb {
    background-color: #322f30;
    /* color of the scroll thumb */
    /*border-radius: 3px; descomentar*/
    /* roundness of the scroll thumb */
/*}*/